.product-catalog-list {
    margin-bottom: 8rem;
}

.carrier-selected {
    border: 3px solid #000000 !important;
    background-color: #f9fafb !important; /* bg-gray-50 */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}