[Unit]
Description={{env.DESCRIPTION()}}
After=network.target

[Service]
Environment=DISPLAY=:0
Type=simple
User={{env.OWNER()}}
ExecStart=/usr/bin/node {{env.PROJECT_DIR()}}/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
